.chef-bio {
  background-color: #f4f7ed;
  padding: 5rem 0;
  display: flex; /* Use flexbox for easier layout */
  justify-content: space-between; /* Space between image and text */
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.chef-bio__content {
  display: flex;
}

.chef-bio__text {
  flex: 1; /* Allow text to take up remaining space */
  text-align: left;
  margin-right: 2rem; /* Add some spacing between text and image */
}

.chef-bio h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.chef-bio p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.chef-bio__button {
  padding-left: 40%;
}

.chef-bio button {
  padding: 0.9rem 2rem;
  background-color: #f4f7ed;
  color: #39492e;
  border: none;
  border-radius: 45px;
  outline: 2px solid #39492e;
  cursor: pointer;
}

.chef-bio button:hover {
  background-color: #f1c376;
  outline-color: #39492e;
}

.chef-bio__image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.chef-bio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
