/* General styles */
.class-description {
  background-color: #606c5d;
  color: #fff4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left column */
.class-description .left-column {
  width: 20%;
  position: relative;
  right: 150px;
}

/* Center column */
.class-description .center-column {
  width: 80%;
  background-color: #606c5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.class-description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Georgia";
}

.class-description p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

/* Buttons */
.class-description .buttons {
  display: flex;
  justify-content: flex-start;
}

.class-description .buttons button {
  background-color: #606c5d;
  color: #f7e6c4;
  border-radius: 45px;
  padding: 1rem 2rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  outline-color: #f7e6c4;
  outline: 2px solid #f7e6c4;
  margin-bottom: 2rem;
}

.class-description .buttons button:hover {
  background-color: #f1c376;
  transform: scale(1.03);
}

/* Middle image */
.class-description .middle-image-container {
  margin-bottom: 2rem;
}

.class-description .middle-image-container img {
  max-width: 100%;
  height: auto;
}

/* Right column */
.class-description .right-column {
  width: 20%;
  position: relative;
  left: 150px;
}

/* Marquee Effect */
.class-description .marquee {
  overflow: hidden;
  position: relative;
  height: 100%; /* Takes full column height */
}

.class-description .marquee-content {
  display: flex;
  flex-direction: column;
  animation: scroll-full 10s linear infinite;
}

.class-description .marquee-content.reverse {
  animation: scroll-full-reverse 10s linear infinite;
}

@keyframes scroll-full {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-full-reverse {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.class-description .marquee-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0; /* Seamless flow */
  border-radius: 8px;
}
