.testimonial {
  background-color: #f0f0f0;
  padding: 5rem 0;
  text-align: center;
  position: relative;
}

.testimonial-text {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 2rem;
  color: #555;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image and text horizontally */
}

.testimonial-author img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid #f1c376;
}

.testimonial-author p {
  margin: 0;
  color: #777;
}

/* Add quotes to the testimonial */

.testimonial-card::before {
  left: -30px;
}

.testimonial-card::after {
  right: -30px;
}
