/* Style the What's Cooking? section */
.whats-cooking {
  background-color: #f7e6c4;
  padding: 10px;
  height: 450px;
  top: 2488px;
  left: -3px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
}

/* Style the section heading */
.whats-cooking h2 {
  font-family: Georgia;
  font-size: 68px;
  font-weight: 400;
  line-height: 77.26px;
  text-align: left;
  text-underline-position: from-font;
  text-align: center;
  color: #606c5d; /* Text color */
}

/* Style the section paragraphs */
.p p {
  font-size: 1.2rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 5rem;
  width: 520px; /* Fixed width */
  height: 100px; /* Fixed height */
  /* Adds spacing between flex/grid items, if applicable */
  text-emphasis-color: #00000078; /* Fully transparent */
}
/* Space below each paragraph */
/* Ensures paragraphs are block elements */
